{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Actors of {{ year }}</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for actor in actors %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ actor.photo_url }}" class="card-img-top" alt="{{ actor.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ actor.name }}</h5>
            <p class="card-text">{{ actor.movies }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}