{% extends "base.html" %}

{% block content %}
  <h1 class="mt-5">{{ action }} Actor</h1>
  <form method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ actor[1] if actor else '' }}" required>
    </div>
    <div class="form-group">
      <label for="movies">Movies</label>
      <input type="text" class="form-control" id="movies" name="movies" value="{{ actor[3] if actor else '' }}" required>
    </div>
    <div class="form-group">
      <label for="photo_url">Photo URL</label>
      <input type="url" class="form-control" id="photo_url" name="photo_url" value="{{ actor[4] if actor else '' }}" required>
    </div>
    <button type="submit" class="btn btn-primary">{{ action }}</button>
  </form>
{% endblock %}
